body {
  display: flex;
  background-image: url("img/bg.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
}

.input-container {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.input-container input {
  width: 100%;
  padding: 12px 40px 12px 20px; /* Adjusted padding */
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-container input:focus {
  transform: scale(1.05);
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-container .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.input-container .icon:hover {
  color: #333;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  color: #fff;
  width: 100%;
}

.remember-me {
  display: flex;
  align-items: center;
}

.forgot-password {
  color: #00aaff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}

.signup-link a {
  color: #00aaff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 5px; /* Add some spacing between icons */
  color: #007bff;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0056b3;
}

/* Media queries for responsiveness */
/* laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
